<div>
  <h1>Administración de articulos</h1>
  @if (hayRegistros()) {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Borrar</th>
          <th>Seleccionar</th>
        </tr>
      </thead>

      <tbody>
        @for(art of articulos; track art.id) {
          <tr>
            <td> {{ art.id }} </td>
            <td> {{art.descripcion}} </td>
            <td> {{art.precio}} </td>
            <td> <button (click)="borrar(art.id)">Borrar?</button> </td>
            <td> <button (click)="seleccionar(art)">Seleccionar</button> </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No hay articulos</p>
  }

  <div>
    <p>
      Id: <input type="number" [(ngModel)]="art.id">
    </p>
    <p>
      Descripcion: <input type="text" [(ngModel)]="art.descripcion">
    </p>
    <p>
      Precio: <input type="number" [(ngModel)]="art.precio">
    </p>
    <p>
      <button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button>
    </p>
  </div>

</div>
<router-outlet />